<div class="col-md-4 mx-auto">
    <div class="card">
        <div class="card-header">
            <h3>Editar Pregunta</h3>
        </div>
        <div class="card-body">
            <form action="/preguntas/edit/{{note.id}}?_method=PUT" method="POST">
                <input type="hidden" name="_method" value="PUT">
                <div class="form-group">
                    <textarea name="question" class="form-control" required>{{note.question}}</textarea>
                </div>
                <div class="form-group">
                    <input name="correctAnswer" class="form-control" value="{{note.correctAnswer}}" required></input>
                </div>
                <div class="form-group">
                    <input name="wrongAnswerOne" class="form-control" value="{{note.wrongAnswerOne}}" required></input>
                </div>
                <div class="form-group">
                    <input name="wrongAnswerTwo" class="form-control" value="{{note.wrongAnswerTwo}}" required></input>
                </div>
                <div class="form-group">
                    <input name="wrongAnswerThree" class="form-control" value="{{note.wrongAnswerThree}}" required></input>
                </div>
                <div class="form-group">
                    <select name="categoria" class="browser-default custom-select" required>
                        <option value="">Seleccione la categoria</option>
                        <option value="1">Microorganismos acuáticos</option>
                        <option value="2">Calidad del agua</option>
                        <option value="3">Ecología de organismos acuáticos</option>
                        <option value="4">Ecología costera</option>
                        <option value="5">Hidrogeología</option>
                        <option value="6">Contaminantes</option>
                        <option value="7">Comodín</option>
                    </select>
                </div>
                <div class="form-group">
                    <button class="btn btn-success btn-block" type="submit">
                        Guardar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>